* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Suisse-b;
  src: url("font/SuisseBPIntl-Antique.woff2");
}

@font-face {
  font-family: Suisse-ita;
  src: url("font/SuisseBPIntl-AntiqueItalic.woff2");
}
@font-face {
  font-family: sans;
  src: url("font/sans.b49ff1e.woff");
}

@font-face {
  font-family: m-g;
  src: url("font/MonumentGrotesk-Regular.woff2");
}

:root {
  --bg-color: #fafafa;
  --color: #1a1a1a;
  --texto-size: 18px;
}

a {
  text-decoration: none;
  color: var(--color);
}
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans;
}

main {
  /*max-width: 1200px;
  width: 100%;
  margin: 0 auto;*/
  overflow: hidden;
}

.container {
  padding: 10px;
}

/*===============HEADER======================*/

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 0 auto;
  font-size: var(--texto-size);
  font-family: m-g;
}

.nav .menu__lista {
  display: flex;
  gap: 5px;
}

.nav .menu__lista li a {
  font-family: Suisse-ita;
}

.col__header {
  margin-left: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
  font-family: m-g;
}

.social {
  display: flex;
  gap: 5px;
}

.social li a{
  text-decoration: underline;
}

.name {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 24vw;
  font-family: Suisse-ita;
  line-height: 0.8;
  text-transform: uppercase;
  text-align: center;
}

.name p{
  letter-spacing: -5px;
}

/*====================custom animacion=================*/
.animacion p {
  overflow: hidden;
}

.animacion p span {
  display: inline-block;
}

.name{
  overflow: hidden;
}

.name span{
  display: inline-block;
}

.social li{
  overflow: hidden;
}

.social li a{
  display: inline-block;
}

.menu__lista li{
  overflow: hidden;
}

.menu__lista li a{
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .col__header {
    margin-left: 0;
    margin-top: 15%;
    font-size: var(--texto-size);
  }
}

@media screen and (max-width: 600px) {
  .col__header {
    margin-left: 0;
    margin-top: 15%;
    gap: 3rem;
  }
}

@media screen and (max-width: 430px) {
  .col__header {
    margin-left: 0;
    margin-top: 30%;
    gap: 2rem;
  }
}
